<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 - JcoolDevRoom Manager - <a asp-area="" asp-controller="Manager" asp-action="Support">Support</a>
    </div>
</footer>