<footer class="border-top footer text-muted">
    <div class="container">
        <p>JcoolDevRoom - Jcool Dev Everything</p>
        <p>
            <a href="https://www.facebook.com/loc.Jcool" target="_blank" class="text-reset text-decoration-none">
                <i class="bi bi-facebook"></i> Facebook
            </a>
        </p>
    </div>
</footer>
